<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Database_Managment.Properties.Settings.DataBase_ManagmentConnectionString" connectionString="Data Source=DESKTOP-6CVJKRS\SQLEXPRESS;Initial Catalog=DataBase_Managment;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>